<div *ngIf="showAlert" class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  This action is not allowed.
</div>

<form #f="ngForm" (ngSubmit)="deleteNode(f)">
  <div class="form-group">
      <label>Remove node: </label>
      <input type="text" class="form-control" placeholder="Node number" name="childToDelete" [(ngModel)]="childToDelete" #childToDelete1="ngModel" required/>
   <button type="button" class="btn btn-primary" [disabled]="!f.valid">Delete node</button>
  </div>
</form>
<br>
<form #deleteEdgeForm="ngForm">
  <div class="form-group">
    <label>Remove edge: </label>
    <input type="text" class="form-control" placeholder="Source node" name="firstNode" [(ngModel)]="firstNode" #firstNodeRef="ngModel" required/>
    <input type="text" class="form-control" placeholder="Destination node" name="secondNode" [(ngModel)]="secondNode" #secondNodeRef="ngModel" style="margin-left: 1%;" required/>
    <button type="button" class="btn btn-primary" [disabled]="!deleteEdgeForm.valid" (click)="deleteEdge(firstNode, secondNode)">Delete edge</button>
  </div>
</form>
<br>
<form #addNodeForm="ngForm">
  <div class="form-group">
    <label>Add node: </label>
    <input type="text" class="form-control" placeholder="Source node" name="sourceNode" [(ngModel)]="sourceNode" #sourceNodeRef="ngModel" required/>
    <button type="button" class="btn btn-primary" [disabled]="!addNodeForm.valid" (click)="addNode(sourceNode)">Add node</button>
  </div>
</form>
<br>
<form #addEdgeForm="ngForm">
  <div class="form-group">
    <label>Add edge: </label>
    <input type="text" class="form-control" placeholder="Source node" name="sourceNodeForEdge" [(ngModel)]="sourceNodeForEdge" #sourceNodeForEdgeRef="ngModel" required/>
    <input type="text" class="form-control" placeholder="Destination node" name="destinationNodeForEdge" [(ngModel)]="destinationNodeForEdge" #destinationNodeForEdgeRef="ngModel" style="margin-left: 1%;" required/>
    <button type="button" class="btn btn-primary" [disabled]="!addEdgeForm.valid" (click)="addEdge(sourceNodeForEdge, destinationNodeForEdge)">Add edge</button>
  </div>
</form>
<button style="font-size: 20px" (click)="getFile()">Save to file</button>

<svg #svgRef class="chart" width="1000" height="1000"> 
  <defs>
  <marker
    id="arrow"
    markerUnits="strokeWidth"
    markerWidth="12"
    markerHeight="12"
    viewBox="0 0 12 12"
    refX="6"
    refY="6"
    orient="auto">
    <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: blue;"></path>
  </marker>
</defs></svg>
